:root {
	--theme-bg-color: rgba(16 18 27 / 40%);
	--body-font: "Poppins", sans-serif;
}

body {
	font-family: var(--body-font);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 87vh;
	@media screen and (max-width: 480px) {
		padding: 0.8em;
	}
}

.video-bg {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.app {
	background-color: var(--theme-bg-color);
	max-width: 1250px;
	max-height: 860px;
	height: 90vh;
	border-radius: 14px;
	backdrop-filter: blur(20px);
	margin: auto;
	color: #fff;
}

header {
	width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #888;
	padding: 20px 0px;
	nav{
		text-align: center;
		margin: auto;
		display: flex;
		align-items: center;
		a {
			color: #fff;
			margin: 0 30px;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			transition: 0.4s;
		}
		a:hover {
			border-color: #fff;
			transition: 0.4s;
		}
	}
}

main {
	padding: 0rem 2rem;
}
